* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: '76London';
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(90deg, rgba(168, 19, 163, 0.75), rgba(87, 199, 133, 0.75), rgba(109, 59, 236, 0.75));
    border-bottom: 3px solid #A813A3;
    transition-property: background-color;
    transition-duration: .5s;
}

#tray,
#mpris {
    background-color: rgba(168, 19, 163, 0.2);
    color:rgb(243, 150, 235);
    padding: 0 10px;
}
 
#clock {
    background-color: rgba(109, 59, 236, 0.2);
    color:rgb(134, 243, 192);
    padding: 0 10px;
}

#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#power-profiles-daemon{
    background-color: rgba(109, 59, 236, 0.5);
    color: rgb(137, 186, 247);
    padding: 0 10px;
}

#battery:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpris:hover{
    background-color: rgba(226, 33, 232, 0.5);
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: rgba(87, 199, 133, 0.2);
}

#battery.charging, #battery.plugged:hover {
    background-color: rgba(226, 33, 232, 0.5);
}

@keyframes blink {
    to {
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(153, 59, 236, 0.5);
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(236, 59, 209, 0.8);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging):hover {
    background-color: rgba(226, 33, 232, 0.5);
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    background-color: rgba(226, 33, 232, 0.5);
}

#power-profiles-daemon.balanced {
    background-color: rgba(109, 59, 236, 0.2);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(87, 199, 133, 0.5);
}

#power-profiles-daeomon.power-saver:hover, #power-profiles-daemon.balanced:hover {
    background-color: rgba(226, 33, 232, 0.5);
}

#power-profiles-daemon.performance:hover {
    background-color: rgba(226, 33, 232, 0.65);
}

#network.disconnected {
    background-color: rgba(236, 59, 209, 0.5);
}

#network.disconnected:hover {
    background-color: rgba(226, 33, 232, 0.65);
}

#pulseaudio.muted {
    background-color: rgba(226, 33, 232, 0.5);
}

#pulseaudio.muted:hover {
    background-color: rgba(226, 33, 232, 0.65);
}

#tray.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(236, 59, 209, 0.8);
}

#language {
    padding: 0 5px;
    min-width: 16px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}